/* Style all elements with the class name "bod" */ 
.bod {
        background-color: powderblue;
        margin-left:60px;
        margin-right:60px;
      }
      ul li {
        list-style-type: circle;
        padding: 5px;
        font-size:200%;
        font-family:arial;
        border:4px solid black;
        background: white;
      }
      p2 {
        font-size:200%;
        color:white;
      }
      button {
        background-color:white;
        height:60px;
        width:200px;
        border-color:black;
        font-size:60%;
      }
      p3 {
        font-size:200%;
        margin-left:40px;
      }
      /* Style all elements with the class name "cool" */
      .cool {
        font-size:400%;
        color:white;
        font-family:arial;
        background-color:black;
}
 /* Style all elements with the class name "cool2" */
  .cool2 {
  color: black;
  font-family: verdana;
  font-size: 500%;
 }
  /* Style all elements with the class name "coolio" */
.coolio {
  margin-left:auto;
  margin-right:auto;
  border:4px solid black;
  width:800;
  height:503;
}